<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>

    <div class="/">
        <li onclick="window.location.href='/'">Menu</li>
    </div>
    <div class="Cyber">
        <li onclick="window.location.href='/cyber'">Quizz Cyber</li>
    </div>
    <div class="IAdata">
        <li onclick="window.location.href='/IAdata'">IA et data</li>
    </div>
    <div class="Info">
        <li onclick="window.location.href='/info'">Info</li>
    </div>
    
</body>
</html>